<div class="ext_style">
  <div class="header">User: <%= @user.name %></div>

<% form_for( @user, :url => user_path ) do |f| %>
  <table class="form_area">
    <tbody>
      <tr class="top_padding">
        <td class="label">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="label">Name:</td>
        <td><%= f.text_field :name, :class => "string" %></td>
      </tr>
      <tr>
        <td class="label">Login:</td>
        <td><%= f.text_field :login, :class => "string" %></td>
      </tr>
      <tr>
        <td class="label">Password:</td>
        <td><%= f.text_field :password, :class => "string" %></td>
      </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <td colspan="2">
          <button type="submit"><%= @user.new_record? ? "Create" : "Save" %></button>
          <button type="button" onclick="document.location='<%= users_path %>';return false;">Cancel</button>
        </td>
    </tfoot>
  </table>
<% end %>
</div>

